body {
  background-color: #f7f7f7;
}

button {
  height: 60px;
  width: 200px;
  font-size: 12px;
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
}

.savedRestaurantsContainer {
  background-color: white;
  width: 300px;
  margin-left: 50px;
}

.viewSaved {
  margin-top: 40px;
  margin-left: 50px;
}